<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 静态工厂方法创建bean的配置  factory-method 工厂方法，用它来创建bean -->
	<bean id="apple" class="yz.bean.Apple" factory-method="getInstance"></bean>
	
	<!-- 静态工厂方法创建redispool的配置 -->
	<bean id="redisPool" class="yz.dao.redispool.RedisPool" factory-method="getPool"></bean>
</beans>